<!--Panel-->

<div class="row top grey-text">
    <div class="offset-md-4 col-md-4">

        <div class="card">
            <h4 class="card-header primary-color white-text">Create RFQ</h4>
            <div class="card-block">

                @Html.ActionLink("Create new RFQ", "Create", "TaskDatas", null, new { @class="btn btn-cyan"})

            </div>

            <div id="result" class="card-block">
                @if(TempData["Status"] != null)
                {
                    <p class="card-text">Status: <b class="green-text">@TempData["Status"]</b></p>
                }
            </div>
        </div>

        <!--/.Panel-->
        <!--Panel-->
        <div class="card">
            <h4 class="card-header default-color-dark white-text">Order Tracking</h4>
            <div class="card-block">
                <h5 class="card-title">Request For Quote</h5>
                <p class="card-text">Active Orders ...</p>
                <p class="card-text">State: Pending Proof Aproved</p>
            </div>

        </div>

        <!--/.Panel-->
        <!--Panel-->
        <div class="card">
            <h4 class="card-header card-info white-text">Store Front</h4>
            <div class="card-block">

                @*will retrieve from database*@

                @*Current highlighted*@
                <div class="col-xl-2">
                    <a href="Part/Detail"><i class="fa fa-shopping-cart fa-3x" style="color:#FF8800;"></i></a>
                </div>

                <div class="col-xl-2">
                    <a href="Part/Detail"><i class="fa fa-shopping-cart fa-3x"></i></a>
                </div>
                <div class="col-xl-2">
                    <a href="Part/Detail"><i class="fa fa-shopping-cart fa-3x"></i></a>
                </div>
                <div class="col-xl-2">
                    <a href="Part/Detail"><i class="fa fa-shopping-cart fa-3x"></i></a>
                </div>
            </div>

        </div>
    </div>

</div>

<!--/.Panel-->
