<div class="row top grey-text">
    <div class="offset-md-3 col-md-6">

        <!--Panel-->
        <div class="card">
            <h3 class="card-header primary-color white-text">Create a RFQ</h3>
            <div class="card-block">
                <h4 class="card-title">Request For Quote</h4>
                <p class="card-text">Creat a new RFQ ...</p>
                <a class="btn btn-primary">Create a New RFQ</a>
            </div>
            <div class="card-block">
                <p class="card-text">Creating ...</p>
            </div>
        </div>

        <!--/.Panel-->
        <!--Panel-->
        <div class="card">
            <h3 class="card-header default-color-dark white-text">Order Tracking</h3>
            <div class="card-block">
                <h4 class="card-title">Request For Quote</h4>
                <p class="card-text">Active Orders ...</p>
                <p class="card-text">State: Pending Proof Aproved</p>
            </div>

        </div>

        <!--/.Panel-->
        <!--Panel-->
        <div class="card">
            <h3 class="card-header card-info white-text">Store Front</h3>
            <div class="card-block">

                @*will retrieve from database*@

                @*Current highlighted*@
                <div class="col-xl-2">
                    <a href="Part/Detail"><i class="fa fa-shopping-cart fa-3x" style="color:#FF8800;"></i></a>
                </div>

                <div class="col-xl-2">
                    <a href="Part/Detail"><i class="fa fa-shopping-cart fa-3x"></i></a>
                </div>
                <div class="col-xl-2">
                    <a href="Part/Detail"><i class="fa fa-shopping-cart fa-3x"></i></a>
                </div>
                <div class="col-xl-2">
                    <a href="Part/Detail"><i class="fa fa-shopping-cart fa-3x"></i></a>
                </div>
            </div>

        </div>

        <!--/.Panel-->

    </div>
</div>