@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="row top red-text">
    <div class="offset-md-4 col-md-4">

        <h2><i class="fa fa-exclamation-circle fa-1x"></i> Error</h2>
        @{
            if (String.IsNullOrEmpty(ViewBag.errorMessage))
            {
                <h3 class="text-danger text-xs-center">An error occurred while processing your request.</h3>
            }
            else
            {
                <h3 class="text-danger text-xs-center">@ViewBag.errorMessage</h3>
            }

            <p class="text-danger"><i class="fa fa-exclamation-triangle"></i> Error Details: <br />@Model.Exception.Message</p>
            if (Model.Exception.InnerException != null)
            {
                <p class="text-danger"><i class="fa fa-exclamation-triangle"></i> Inner Exception: <br />@Model.Exception.InnerException</p>
            }
        }
    </div>
</div>

