
@{
    ViewBag.Title = "Info";
}

@{
    ViewBag.Title = "Info";
}

<div class="row top grey-text">
    <div class="offset-md-4 col-md-4">


        <div class="card-block">
            <div>
                <h3>@ViewBag.Title.</h3>
                <p class="card-text">@ViewBag.Message</p>

            </div>
        </div>
    </div>
</div>