<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogToConsole="false" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->

  <!--<variable name="MyLayout" value="${longdate} ${message} ${exception:format=tostring}" />-->

  <variable name="MyLayout" value="${message}"/>

  <targets>
    <target name="file" xsi:type="File" fileName="${basedir}/log.txt" />

    <target name="eventlog" xsi:type="EventLog"
            layout="${message}${newline}${exception:format=ToString}"
            machineName="."
            source="OmneaEventSource"
            log="OmneaEventLog"  />

    <!--<target name="console" xsi:type="ColoredConsole"  useDefaultRowHighlightingRules="true" />-->

    <!--<target name="database" xsi:type="Database"
            dbDatabase ="AppDb"
             
        commandText="INSERT INTO Logs(Machine_Name, Username, Logon_Time, Screensaver_On, Screensaver_Off, Logoff_Time, Program_Start) Values (@MachineName, @Username, @LogonTime, @Screensaver_On, @Screensaver_Off, @LogoffTime, @ProgramStart)"
        connectionString="Server=tcp:softsolution.database.windows.net,1433;Initial Catalog=AppDb;Persist Security Info=True;User ID=hma14;Password=Hma@1985;MultipleActiveResultSets=False;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
        keepConnection="true"/>-->




  </targets>

  <rules>
    <!--<logger name="*" minlevel="Error" writeTo="database" />-->
    <logger name="*" minlevel="Info" writeTo="eventlog"  />
    <logger name="*" minlevel="Error" writeTo="file"  />

    <!--<logger name="*" minlevel="Trace" writeTo="console"  />-->
  </rules>

</nlog>
