@{
    ViewBag.Title = "Confirm Email";
}

<div class="row top">
    <div class="offset-md-4 col-md-4">


        <div class="card-block">
            <div>
                <p class="card-text">
                    Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })

                    @*Thank you for confirming your email. Please @Html.ActionLink("Click here to fulfill your personal info", "Registration", "CustomerAccount",
                                                   routeValues: new { @userId = @HttpContext.Current.Request.QueryString["userId"] }, htmlAttributes: new { id = "loginLink" })*@
                </p>
            </div>
        </div>
    </div>
</div>