@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div class="row top grey-text">
    <div class="offset-md-4 col-md-4">

        <div class="card-block">
            <hgroup class="title">
                <h1 class="text-xs-center">@ViewBag.Title.</h1>
            </hgroup>
            <br />
            <div>
                <p class="text-xs-center text-justify">
                    Please check your email to reset your password.
                </p>
            </div>

        </div>
    </div>
</div>
