@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="row top grey-text">
    <div class="offset-md-4 col-md-4">

        <div class="card-block">

            <hgroup class="title">
                <h1 class="text-xs-center">@ViewBag.Title.</h1>
            </hgroup>
            <br />
            <div>
                <p class="text-xs-center text-justify">
                    Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
    </div>
</div>
